.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
height: calc(100vh - 60px);
min-height: 700px;
}

.notLoggedInText {
    align-items: center;
    text-align: center; 
}