.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
  margin-bottom: 80px;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    gap: 5vh;
  h2 {
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    margin: 0px;
    font-size: 80px;
    font-weight: 900;
  color: white;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
  }
  p {
    margin: 0px;
  }
}

.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-left: 10vw;
  margin-right: 10vw; */
}

.rocket {
    height: 10vh;
    width: 10vh;
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    transform: translateX(0);
  }
  
  @keyframes slidein {
    from {
      transform: translateX(0vw);
    }
  
    to {
      transform: translateX(70vw);
    }
  }

@media (max-width: 640px) {
  .content {
    h2 {
      font-size: 50px;
    }
  }
}
