body {
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    background-color:lightslategrey;
    width: 100%;
    padding: 20px;
    display: flex; 
	gap: 1.5rem;
    position: fixed;
    bottom: 0px;
}

nav {
    background-color:lightslategrey;
    width: 100%;
    padding: 20px;
    display: flex; 
	gap: 1.5rem;
    position: fixed;
    top: 0px;
}

.search-bar {

    width: 100%;
    margin: auto;
    border: solid black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-display {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.article-card {
    text-align: center;
    border: solid black;
    border-radius: 25px;
    margin: 10px;
    width: 300px;
    color: black;
}

.article-card img {
    width: 250px; 
}

.full-article {
    display: block;
    margin: auto;
    width: 90%;
    text-align: center;
}

.full-article img {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.full-article button {
    background-color:lightslategrey;
}

.full-article .votes {
    border-top: black solid;
    border-bottom: black solid;
    padding-bottom: 20px;
    border-width: thin;
}

.comment-card {
    border: solid black;
    margin: 10px;
    display: flex;
}

.comment-card img {
    width: 50px;
    height: auto;
}

.error-text {
    color: red;
}

