h1 {
    text-align: center;
}

.carousel {
    margin: auto;
    max-width: 500px;
    padding: 20px;;
}

body {
    padding-top: 90px;
    padding-bottom: 90px;
    margin: 0;
}

.carousel-captions {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    color: white;
}

.carousel-captions a {
    color: white;
    text-decoration: none;
}

.footer {
    background-color: lightslategrey !important;
    width: 100%;
    height: 4%;
    padding: 20px;
    display: flex; 
	gap: 1.5rem;
    position: fixed;
    bottom: 0px;
}

nav {
    background-color:lightslategrey;
    width: 100%;
    height: 4%;
    padding: 20px;
    display: flex; 
	gap: 1.5rem;
    position: fixed;
    top: 0px;
}

.nav-avatar img{
    width: 40px;
    border-radius: 50%;
    height: 40px;
}

.search-bar {

    width: 100%;
    margin: auto;
    border: solid black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-display {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.article-card {
    text-align: center;
    border: solid black;
    border-radius: 25px;
    margin: 10px;
    width: 300px;
    color: black;
}

.article-card img {
    width: 250px; 
}

.full-article {
    display: block;
    margin: auto;
    width: 90%;
    text-align: center;
}

.full-article img {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.full-article button {
    background-color:lightslategrey;
}

.full-article .votes {
    border-top: black solid;
    border-bottom: black solid;
    padding-bottom: 20px;
    border-width: thin;
}

.comment-card {
    border: solid black;
    margin: 10px;
    padding: 10px;
    display: block;
}

.comment-card img {
    width: 50px;
    max-height: 50px;
    height: auto;
}

.error-text {
    color: red;
}

.user-card {
    padding: 20px;
}

.user-card img {
    border-radius: 100%;
    max-width: 100px;
    max-height: 100px;
}

.user-card-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
